@font-face {
  font-family: 'Alegreya';
  font-weight: normal;
  src: url('/fonts/Alegreya-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  src: url('/fonts/Alegreya-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: bold;
  src: url('/fonts/Alegreya-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/Alegreya-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: normal;
  src: url('/fonts/AlegreyaSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  src: url('/fonts/AlegreyaSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: bold;
  src: url('/fonts/AlegreyaSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/AlegreyaSans-BoldItalic.woff2') format('woff2');
}
