:root {
  --color-text: #333;
  --color-link: #c62127;
  --color-border: #ddd;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya', serif;
  line-height: 1.5;
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.2;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-color: var(--color-border);
}

a:hover {
  text-decoration-color: var(--color-link);
}
