:root {
  --color-text: #333;
  --color-red: #c62127;
  --color-red-light: #de3c41;
  --color-red-dark: #9a1a1e;
  --color-border: #ddd;
  --color-shading: #f8f8f8;
}

* {
  box-sizing: border-box;
}

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  font-family: 'Alegreya', serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
}

a {
  color: var(--color-red);
  text-decoration: underline;
  text-decoration-color: var(--color-border);
}

a:hover {
  text-decoration-color: var(--color-red);
}

ul,
ol {
  padding-left: 2rem;
}

li p {
  margin: 0;
}

img {
  vertical-align: middle;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-border);
}

blockquote {
  margin: 1rem 0;
  padding: 0.1rem 1.5rem;
  background: var(--color-shading);
  border-radius: 0.5em;
}
