:root {
  --color-text: #333;
  --color-red: #c62127;
  --color-red-light: #de3c41;
  --color-red-dark: #9a1a1e;
  --color-border: #ddd;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya', serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.2;
}

a {
  color: var(--color-red);
  text-decoration: underline;
  text-decoration-color: var(--color-border);
}

a:hover {
  text-decoration-color: var(--color-red);
}

li p {
  margin: 0;
}
