@import 'normalize.css';

:root {
  --color-text: #333;
  --color-background: #fff;
  --color-link: #c62127;
  --color-menu: #c62127;
  --color-menu-hover: #de3c41;
  --color-menu-active: #9a1a1e;
  --color-border: #ddd;
  --color-shading: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #c0bab2;
    --color-background: #17191a;
    --color-link: #f7586a;
    --color-menu: #9e1a1f;
    --color-menu-hover: #b73a3e;
    --color-menu-active: #7b1518;
    --color-border: #2b2f31;
    --color-shading: #262a2b;
  }
}

* {
  box-sizing: border-box;
}

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  font-family: var(--font-serif);
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-text);
  background: var(--color-background);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-sans);
  line-height: 1.2;
}

h1 {
  margin-top: 0;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-color: var(--color-border);
}

a:hover {
  text-decoration-color: var(--color-link);
}

ul,
ol {
  padding-left: 2rem;
}

li p {
  margin: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-border);
}

blockquote {
  margin: 1rem 0;
  padding: 0.1rem 1.5rem;
  background: var(--color-shading);
  border-radius: 0.5rem;
}

input,
button {
  font-family: var(--font-sans);
}

input {
  padding: 8px 12px;
  border: 1px solid var(--color-text);
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  background: var(--color-border);
  border: 1px solid var(--color-text);
  border-radius: 4px;
}
