.root {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  width: 12rem;
  height: 16rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.imagePlaceholder {
  width: 12rem;
  height: 16rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-shading);
  object-fit: cover;
}

.name {
  font-weight: bold;
}
