.headerTop {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;

  @media (--md) {
    gap: 2rem;
  }
}

.logo {
  height: 50px;
  width: 40px;

  @media (--md) {
    height: 100px;
    width: 80px;
  }
}

.titleBase {
  font-weight: bold;
  font-family: var(--font-sans);
  line-height: 1.2;
  font-size: 1.2rem;
}

.title {
  composes: titleBase;
  display: none;

  @media (--sm) {
    display: block;
  }

  @media (--md) {
    font-size: 2rem;
  }
}

.shortTitle {
  composes: titleBase;

  @media (--sm) {
    display: none;
  }
}

.menuToggle {
  background: none;
  border: none;
  margin-left: auto;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0;
  color: var(--color-link);
  font-family: var(----font-serif);

  @media (--lg) {
    display: none;
  }
}
