.root {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  align-items: center;
  font-family: var(--font-sans);

  @media (--sm) {
    grid-template-columns: auto 1fr;
  }

  & input {
    margin-right: 8px;
  }
}
